{% extends '../base.html' %}

{% block body %}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Establecimientos</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url "home" %}">Inicio</a></li>
              <li class="breadcrumb-item"><a href="{% url "appEstablishment.show" %}">Establecimientos</a></li>
              <li class="breadcrumb-item">Historial</li>
            </ol>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            {% if request.user.rol.id != 1 %}
            <div class="card-header">
                <a class="card-title btn btn-primary" type="button" href="{% url "appEstablishment.show" %}">Regresar</a>
            </div>
            {% endif %}
    
            <div class="card-body">
                <table id="appEstablishment" class="display responsive nowrap table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% comment %} <th style="width: 10px">#</th> {% endcomment %}
                            <th class="text-center">Nombre establecimiento</th>
                            <th class="text-center">Distrito</th>
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Celular</th>
                            <th class="text-center">F. Creación</th>
                            <th class="text-center">F. Modificación</th>
                            <th class="text-center">F. Eliminación</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historial_establ in historial_establishments %}
                        <tr>
                            {% comment %} <td class="text-center">{{historial_establ.id}}</td> {% endcomment %}
                            <td class="text-center">{{historial_establ.name}}</td>
                            <td class="text-center">{{historial_establ.type_dist.description}}</td>
                            <td class="text-center">{{historial_establ.location}}</td>
                            <td class="text-center">{{historial_establ.phone}}</td>
                            <td class="text-center">{{historial_establ.created_at|date:"Y-m-d H:m:s"}}</td>
                            <td class="text-center">{{historial_establ.updated_at|date:"Y-m-d H:m:s"}}</td>
                            <td class="text-center">{{historial_establ.deleted_at|date:"Y-m-d H:m:s"}}</td>
                            <td class="text-center text-center">
                                {% if historial_establ.status %}
                                <i class="icofont icofont-check-circled" style="color: green; font-size: 20px;"></i>
                                {% else %}
                                <i class="icofont icofont-close-circled" style="color: red; font-size: 20px;"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
{% block customJS %}
{% if messages %}
{% for message in messages %}
  <script>
    $(function() {
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-right',
        showConfirmButton: false,
        timer: 5000
      });
      toastr.error('{{message}}')
    });
  </script>
{% endfor %}
{% endif %}
{% endblock customJS %}

{% endblock body %}