{% extends '../base.html' %}
{% load static %}

{% block customCSS %}
  <style>
    #message {
      padding: 10px;
      color: white;
      font-weight: bold;
  }
  
  /* Cuando no se encuentran elementos (fondo rojo) */
  #message.no-results {
      color: red;
  }
  
  /* Cuando se encuentran elementos (fondo verde) */
  #message.with-results {
      color: green;
  }
  </style>
{% endblock %}
{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Reservaciones</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'appReservation.show' %}">Reservaciones</a>
              </li>
              <li class="breadcrumb-item">Registrar</li>
            </ol>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts -->
    <div class="container">
      <div class="row starter-main">
        <div class="col-sm-12">
          <div class="card">
            <form method="POST" class="post-form" action="">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="type_dist">Distrito:</label>
                  <select class="form-control" id="type_dist" name="type_dist">
                    <option value="">Selecione...</option>
                    {% for type_dist in type_district %}
                      <option value="{{ type_dist.id }}">{{ type_dist.description }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="establishment">Establecimiento: <span id="message"></span></label>
                  <select class="form-control" id="establishment" name="establishment">
                    <option value="">Selecione...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="field_soccer">Campo deportivo: </label>
                  <select class="form-control" id="field_soccer" name="field_soccer">
                    <option value="">Selecione...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="date">Fecha</label>
                  <input type="date" class="form-control" id="date" name="date" placeholder="" required />
                </div>

                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="09:00" />09:00 - 10:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="10:00" />10:00 - 11:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="11:00" />11:00 - 12:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="12:00" />12:00 - 13:00</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="13:00" />13:00 - 14:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="14:00" />14:00 - 15:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="15:00" />15:00 - 16:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="16:00" />16:00 - 17:00</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="17:00" />17:00 - 18:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="18:00" />18:00 - 19:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="19:00" />19:00 - 20:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="20:00" />20:00 - 21:00</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="21:00" />21:00 - 22:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="22:00" />22:00 - 23:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="opcion" value="23:00" />23:00 - 00:00</label>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends -->
  </div>
  {% block customJS %}
    {% if messages %}
      {% for message in messages %}
        <script>
          $(function () {
            var Toast = Swal.mixin({
              toast: true,
              position: 'top-right',
              showConfirmButton: false,
              timer: 5000
            })
            toastr.error('{{message}}')
          })
        </script>
      {% endfor %}
    {% endif %}
    <!-- latest jquery -->
    <script>
      const typeDistSelect = document.getElementById('type_dist');
      const establishmentSelect = document.getElementById('establishment');
      const messageSpan = document.getElementById('message');

      typeDistSelect.addEventListener('change', () => {
          const typeDistName = typeDistSelect.options[typeDistSelect.selectedIndex].text;
          const typeDistId = typeDistSelect.value;
          establishmentSelect.innerHTML = '';

          if (typeDistId !== '') {
              fetch(`/reservation/get_establishment/${typeDistId}/`)
                  .then((response) => response.json())
                  .then((data) => {
                      // Añadir opción "Seleccione..." al principio
                      const defaultOption = document.createElement('option');
                      defaultOption.value = '';
                      defaultOption.textContent = 'Seleccione...';
                      establishmentSelect.appendChild(defaultOption);

                      if (data.establishments.length > 0) {
                        // Añadir opciones dinámicas
                        data.establishments.forEach((establishment) => {
                            const option = document.createElement('option');
                            option.value = establishment.id;
                            option.textContent = establishment.name;
                            establishmentSelect.appendChild(option);
                        });
                    
                        // Mostrar el mensaje con la cantidad de elementos encontrados (fondo verde)
                        messageSpan.classList.remove('with-results');
                        messageSpan.textContent = data.establishments.length > 1
                          ? `Se encontraron ${data.establishments.length} establecimientos en ${typeDistName}.`
                          : `Se encontró ${data.establishments.length} establecimiento en ${typeDistName}.`;
                        messageSpan.classList.add('with-results');
                    } else {
                        // Mostrar un mensaje si no se encontraron elementos (fondo rojo)
                        messageSpan.classList.remove('with-results');
                        messageSpan.textContent = `No se encontraron establecimientos en ${typeDistName}.`;
                        messageSpan.classList.add('no-results');
                    }
                  });
          } else {
              // Añadir opción "Seleccione..." cuando no hay selección en el primer select
              const defaultOption = document.createElement('option');
              defaultOption.value = '';
              defaultOption.textContent = 'Seleccione...';
              establishmentSelect.appendChild(defaultOption);

              // Limpiar el mensaje si no hay selección en el primer select
              messageSpan.textContent = '';
          }
      });

      {% comment %} const fieldSoccerSelect = document.getElementById('type_soccer');

      establishmentSelect.addEventListener('change', () => {
          const establishmentName = establishmentSelect.options[establishmentSelect.selectedIndex].text;
          const establishmentId = establishmentSelect.value;
          fieldSoccerSelect.innerHTML = '';

          if (establishmentId !== '') {
              fetch(`/reservation/get_field_soccer/${establishmentId}/`)
                  .then((response) => response.json())
                  .then((data) => {
                      // Añadir opción "Seleccione..." al principio
                      const defaultOption = document.createElement('option');
                      defaultOption.value = '';
                      defaultOption.textContent = 'Seleccione...';
                      fieldSoccerSelect.appendChild(defaultOption);

                      if (data.field_soccer.length > 0) {
                        // Añadir opciones dinámicas
                        data.field_soccer.forEach((field_soc) => {
                            const option = document.createElement('option');
                            option.value = field_soc.id;
                            option.textContent = field_soc.name;
                            fieldSoccerSelect.appendChild(option);
                        });
                    
                        // Mostrar el mensaje con la cantidad de elementos encontrados (fondo verde)
                        messageSpan.classList.remove('with-results');
                        messageSpan.textContent = data.field_soccer.length > 1
                          ? `Se encontraron ${data.field_soccer.length} campos deportivos en ${establishmentName}.`
                          : `Se encontró ${data.field_soccer.length} campo deportivo en ${establishmentName}.`;
                        messageSpan.classList.add('with-results');
                    } else {
                        // Mostrar un mensaje si no se encontraron elementos (fondo rojo)
                        messageSpan.classList.remove('with-results');
                        messageSpan.textContent = `No se encontraron campos deportivos en ${establishmentName}.`;
                        messageSpan.classList.add('no-results');
                    }
                  });
          } else {
              // Añadir opción "Seleccione..." cuando no hay selección en el primer select
              const defaultOption = document.createElement('option');
              defaultOption.value = '';
              defaultOption.textContent = 'Seleccione...';
              fieldSoccerSelect.appendChild(defaultOption);

              // Limpiar el mensaje si no hay selección en el primer select
              messageSpan.textContent = '';
          }
      }); {% endcomment %}


      {% comment %} $(document).ready(function() {
        $('#type_dep_pb').change(function() {
          var type_dep_pb_id = $(this).val();
          var select_provinces = $('select[name="type_prov_pb"]');
          var options = '<option value="">Seleccione...</option>'
          $.ajax({
            url: '/evaluated/ajax_provinces/' + type_dep_pb_id,
            data: {
              'id': type_dep_pb_id
            },
            dataType: 'json',            
          }).done(function(data) {
              $.each(data.provinces, function(key, value){
                options += `<option value="${value.id}">${value.complete}</option>`;
              });
            }).always(function(data){
              select_provinces.html(options)
            });
          });
        }); {% endcomment %}
    </script>
  {% endblock %}
{% endblock %}
