{% extends '../base.html' %}

{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Reservaciones</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'appReservation.show' %}">Reservaciones</a>
              </li>
              <li class="breadcrumb-item">Registrar</li>
            </ol>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts -->
    <div class="container">
      <div class="row starter-main">
        <div class="col-sm-12">
          <div class="card">
            <form method="POST" class="post-form" action="">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="date">Fecha</label>
                  <input type="date" class="form-control" id="date" name="date" placeholder="" required />
                </div>
                <div class="form-group">
                  <label for="start_hour">Hora de inicio</label>
                  <input type="time" class="form-control" id="start_hour" name="start_hour" placeholder="" required />
                </div>
                <div class="form-group">
                  <label for="end_hour">Hora de fin</label>
                  <input type="time" class="form-control" id="end_hour" name="end_hour" placeholder="" required />
                </div>
                <div class="form-group">
                  <label for="field_soccer">Campo deportivo</label>
                  <select class="form-control" id="field_soccer" name="field_soccer">
                    <option value="">Selecione...</option>
                    {% for field_soccer in field_soccers %}
                      <option value="{{ field_soccer.id }}">{{ field_soccer.name }} - {{ field_soccer.establishment.name }} - {{ field_soccer.establishment.phone }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends -->
  </div>
  {% block customJS %}
    {% if messages %}
      {% for message in messages %}
        <script>
          $(function () {
            var Toast = Swal.mixin({
              toast: true,
              position: 'top-right',
              showConfirmButton: false,
              timer: 5000
            })
            toastr.error('{{message}}')
          })
        </script>
      {% endfor %}
    {% endif %}
  {% endblock %}
{% endblock %}
