{% extends '../base.html' %}
{% load static %}

{% block customCSS %}
  <style>
    #message_establishment,
    #message_field_soccer,
    #message_date {
        font-weight: bold;
    }
  </style>
{% endblock %}
{% block body %}
  <div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Reservaciones</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'appReservation.show' %}">Reservaciones</a>
              </li>
              <li class="breadcrumb-item">Registrar</li>
            </ol>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts -->
    <div class="container">
      <div class="row starter-main">
        <div class="col-sm-12">
          <div class="card">
            <form method="POST" class="post-form" action="">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label for="type_dist">Distrito:</label>
                  <select class="form-control" id="type_dist" name="type_dist">
                    <option value="">Selecione...</option>
                    {% for type_dist in type_district %}
                      <option value="{{ type_dist.id }}">{{ type_dist.description }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                  <label for="establishment">Establecimiento: <span id="message_establishment"></span></label>
                  <select class="form-control" id="establishment" name="establishment">
                    <option value="">Selecione...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="field_soccer">Campo deportivo: <span id="message_field_soccer"></span></label>
                  <select class="form-control" id="field_soccer" name="field_soccer">
                    <option value="">Selecione...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="date_reservation">Fecha</label>
                  <input type="date" class="form-control" id="date_reservation" name="date_reservation" placeholder="" required />
                </div>

                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="09:00" />09:00 - 10:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="10:00" />10:00 - 11:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="11:00" />11:00 - 12:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="12:00" />12:00 - 13:00</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="13:00" />13:00 - 14:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="14:00" />14:00 - 15:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="15:00" />15:00 - 16:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="16:00" />16:00 - 17:00</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="17:00" />17:00 - 18:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="18:00" />18:00 - 19:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="19:00" />19:00 - 20:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="20:00" />20:00 - 21:00</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="21:00" />21:00 - 22:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="22:00" />22:00 - 23:00</label>
                  </div>
                  <div class="col-lg-3 col-sm-12 col-xs-12">
                    <label><input type="checkbox" name="option_hour" value="23:00" />23:00 - 00:00</label>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Registrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends -->
  </div>
  {% block customJS %}
    {% if messages %}
      {% for message in messages %}
        <script>
          $(function () {
            var Toast = Swal.mixin({
              toast: true,
              position: 'top-right',
              showConfirmButton: false,
              timer: 5000
            })
            toastr.error('{{message}}')
          })
        </script>
      {% endfor %}
    {% endif %}
    <!-- latest jquery -->
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
    <script>
      $(document).ready(function() {
        $('#type_dist').change(function() {
          var type_dist_id = $(this).val();
          var select_establishment = $('select[name="establishment"]');
          var messageEstablishment = $('#message_establishment');
          var options = '<option value="">Seleccione...</option>'

          if (type_dist_id == "") {
            messageEstablishment.text('Por favor, seleccione un distrito.');
            messageEstablishment.css('color', 'red');
            select_establishment.html(options);
            $('#field_soccer').val('');
            $('#message_field_soccer').text('');
            $('select[name="establishment"]').empty().html(options);
            $('select[name="field_soccer"]').empty().html(options);
            $('#date_reservation').text('');
          } else {          
            $.ajax({
              url: `/reservation/get_establishment/${type_dist_id}/`,
              data: {
                'type_dist_id': type_dist_id
              },
              dataType: 'json',            
            }).done(function(data) {
                $.each(data.establishments, function(key, value){
                  options += `<option value="${value.id}">${value.name}</option>`;
                });
              }).always(function(data){
                select_establishment.html(options)
  
                const establishmentsCount = data.establishments.length;
                if (establishmentsCount === 0) {
                    $('#message_establishment').text('No se encontraron establecimientos.');
                    $('#message_establishment').css('color', 'red');
                } else if (establishmentsCount === 1) {
                    $('#message_establishment').text(`Se encontró 1 establecimiento.`);
                    $('#message_establishment').css('color', 'green');
                } else {
                    $('#message_establishment').text(`Se encontraron ${establishmentsCount} establecimientos.`);
                    $('#message_establishment').css('color', 'green');
                }
              });
              $('#field_soccer').val('');
              $('#message_field_soccer').text('');
              $('select[name="field_soccer"]').empty().html(options);
          }
          });
        
        $('#establishment').change(function() {
          var establishment_id = $(this).val();
          var select_field_soccer = $('select[name="field_soccer"]');
          var messageFieldSoccer = $('#message_field_soccer');
          var options = '<option value="">Seleccione...</option>'

          if (establishment_id == "") {
            messageFieldSoccer.text('Por favor, seleccione un establecimiento.');
            messageFieldSoccer.css('color', 'red');
            select_field_soccer.html(options);
          } else {
            $.ajax({
              url: `/reservation/get_field_soccer/${establishment_id}/`,
              data: {
                'establishment_id': establishment_id
              },
              dataType: 'json',            
            }).done(function(data) {
                $.each(data.field_soccer, function(key, value){
                  options += `<option value="${value.id}">${value.name}</option>`;
                });
              }).always(function(data){
                select_field_soccer.html(options)
  
                const fieldSoccerCount = data.field_soccer.length;
                if (fieldSoccerCount === 0) {
                    $('#message_field_soccer').text('No se encontraron campos deportivos.');
                    $('#message_field_soccer').css('color', 'red');
                } else if (fieldSoccerCount === 1) {
                    $('#message_field_soccer').text(`Se encontró 1 campo deportivo.`);
                    $('#message_field_soccer').css('color', 'green');
                } else {
                    $('#message_field_soccer').text(`Se encontraron ${fieldSoccerCount} campos deportivos.`);
                    $('#message_field_soccer').css('color', 'green');
                }
              });
          }
          });
        
        $('#date_reservation').change(function() {
          var field_soccer_id = $('#field_soccer').val();
          var date_reservation = $(this).val();
              
          if (field_soccer_id && date_reservation) {
              $.ajax({
                  url: `/reservation/get_available_hours/${field_soccer_id}/${date_reservation}/`,
                  dataType: 'json',
                  success: function(data) {
                      // Manejar los datos de las horas disponibles devueltas en 'data.available_hours'
                      console.log(data.available_hours);
      
                      // Limpiar los checkboxes existentes
                      $('.checkbox-container').empty();
      
                      // Crear checkboxes para las horas disponibles
                      data.available_hours.forEach(function(hour) {
                          var checkboxHTML = `<div class="col-lg-3 col-sm-12 col-xs-12">
                                                <label>
                                                  <input type="checkbox" name="option_hour" value="${hour}" />
                                                  ${hour} - ${hour + 1}
                                                </label>
                                              </div>`;
                          $('.checkbox-container').append(checkboxHTML);
                      });
                  },
                  error: function(xhr, status, error) {
                      // Manejar errores en la solicitud AJAX
                      console.error(error);
                  }
              });
          }
        });
        
        });
    </script>
  {% endblock %}
{% endblock %}
