{% extends '../base.html' %}
{% load static %}
{% block body %}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Reservaciones</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'appReservation.show' %}">Reservaciones</a>
              </li>
              <li class="breadcrumb-item">Bandeja</li>
            </ol>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
          {% if request.user.rol.id == 3 %}
            <div class="card-header">
              <a class="card-title btn btn-primary" type="button" href="{% url "appReservation.create" %}">Registrar reservación</a>
            </div>
            {% endif %}
    
            <div class="card-body">
                <table id="appReservation" class="display responsive nowrap table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% comment %} <th style="width: 10px">#</th> {% endcomment %}
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Hora inicio</th>
                            <th class="text-center">Hora fin</th>
                            <th class="text-center">Campo deportivo</th>
                            <th class="text-center">Establecimiento</th>
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Celular</th>
                            <th class="text-center">Estado</th>
                            {% if request.user.rol.id == 3 %}
                            <th class="text-center" style="width: 100px">Acciones</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                        <tr>
                            {% comment %} <td class="text-center">{{reservation.id}}</td> {% endcomment %}
                            <td class="text-center">{{reservation.date|date:"Y-m-d"}}</td>
                            <td class="text-center">{{reservation.start_hour}}</td>
                            <td class="text-center">{{reservation.end_hour}}</td>
                            <td class="text-center">{{reservation.field_soccer.name}}</td>
                            <td class="text-center">{{reservation.field_soccer.establishment.name}}</td>
                            <td class="text-center">{{reservation.field_soccer.establishment.location}}</td>
                            <td class="text-center">{{reservation.field_soccer.establishment.phone}}</td>
                            <td class="text-center text-center">
                                {% if reservation.status %}
                                <i class="icofont icofont-check-circled" style="color: green; font-size: 20px;"></i>
                                {% else %}
                                <i class="icofont icofont-close-circled" style="color: red; font-size: 20px;"></i>
                                {% endif %}
                            </td>
                            {% if request.user.rol.id == 3 and reservation.status == False %}
                            <td class="text-center text-center">
                                {% comment %} <a href="{% url 'appReservation.edit' id=reservation.id %}"
                                    class="mt-2 btn-block btn-sm btn-warning"><i class="icofont icofont-ui-edit"></i></a> {% endcomment %}
                                <p class="text-danger"><b>Cancelado</b></p>
                            </td>
                            {% elif request.user.rol.id == 3 %}
                            <td class="text-center text-center">
                                {% comment %} <a href="{% url 'appReservation.edit' id=reservation.id %}"
                                    class="mt-2 btn-block btn-sm btn-warning"><i class="icofont icofont-ui-edit"></i></a> {% endcomment %}
                                <a href="{% url 'appReservation.delete' id=reservation.id %}" class="mt-2 btn-block btn-sm btn-danger delete-btn"  data-reservation-id="{{ reservation.id }}">
                                  <i class="icofont icofont-ui-close"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr><td class="text-center" colspan="9">No se encontraron registros.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
{% block customJS %}
<!-- latest jquery-->
<script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  $(document).ready(function () {
    $('.delete-btn').on('click', function (e) {
      var reservationId = $(this).data('reservation-id');
      e.preventDefault();
      Swal.fire({
        title: "¿Está seguro?",
        text: "¡No podrá revertir esto!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Sí, cancelar reserva!'
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = `/reservation/delete/${reservationId}`;
        }
      })
    });
  });
</script>
{% endblock customJS %}

{% endblock body %}