{% extends '../base.html' %}

{% block body %}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Reservaciones</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Inicio</a>
              </li>
              <li class="breadcrumb-item">
                <a href="{% url 'appReservation.show' %}">Reservaciones</a>
              </li>
              <li class="breadcrumb-item">Bandeja</li>
            </ol>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <a class="card-title btn btn-primary" type="button" href="{% url "appReservation.create" %}">Registrar reservación</a>
            </div>
    
            <div class="card-body">
                <table id="appReservation" class="display responsive nowrap table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% comment %} <th style="width: 10px">#</th> {% endcomment %}
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Hora inicio</th>
                            <th class="text-center">Hora fin</th>
                            <th class="text-center">Campo deportivo</th>
                            <th class="text-center">Establecimiento</th>
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Celular</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center" style="width: 100px">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for reservation in reservations %}
                        <tr>
                            {% comment %} <td class="text-center">{{reservation.id}}</td> {% endcomment %}
                            <td class="text-center">{{reservation.date|date:"Y-m-d"}}</td>
                            <td class="text-center">{{reservation.start_hour}}</td>
                            <td class="text-center">{{reservation.end_hour}}</td>
                            <td class="text-center">{{reservation.field_soccer.name}}</td>
                            <td class="text-center">{{reservation.field_soccer.establishment.name}}</td>
                            <td class="text-center">{{reservation.field_soccer.establishment.location}}</td>
                            <td class="text-center">{{reservation.field_soccer.establishment.phone}}</td>
                            <td class="text-center text-center">
                                {% if reservation.status %}
                                <i class="icofont icofont-check-circled" style="color: green; font-size: 20px;"></i>
                                {% else %}
                                <i class="icofont icofont-close-circled" style="color: red; font-size: 20px;"></i>
                                {% endif %}
                            </td>
                            <td class="text-center text-center">
                                {% comment %} <a href="{% url 'appReservation.edit' id=reservation.id %}"
                                    class="mt-2 btn-block btn-sm btn-warning"><i class="icofont icofont-ui-edit"></i></a> {% endcomment %}
                                <a href="{% url 'appReservation.delete' id=reservation.id %}" class="mt-2 btn-block btn-sm btn-danger"><i class="icofont icofont-ui-close"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
{% block customJS %}
{% if messages %}
{% for message in messages %}
  <script>
    $(function() {
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-right',
        showConfirmButton: false,
        timer: 5000
      });
      toastr.error('{{message}}')
    });
  </script>
{% endfor %}
{% endif %}
{% endblock customJS %}

{% endblock body %}