{% extends "../base.html" %}

{% load static %}

{% block customCSS %}
<!-- Datatables css-->
<link rel="stylesheet" type="text/css" href="{% static '/assets/css/vendors/datatables.css' %}">
{% endblock customCSS %}

{% block body_header %}
<div class="container-fluid">
  <div class="page-title">
    <div class="row">
      <div class="col-sm-6">
        <h3>Bandeja de usuarios</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">
            <i data-feather="home"></i></a></li>
          <li class="breadcrumb-item">Usuarios</li>
          <li class="breadcrumb-item active">Bandeja de usuarios</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock body_header %}

{% block body %}
<div class="col-sm-12">
  <div class="table-responsive">
    <table id="table-users" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Tipo Doc</th>
                <th>N° Doc</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Email</th>
                <th>Empresa</th>
                <th>Estado</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user_edit in users %}
            <tr>
                <td>{{user_edit.id}}</td>
                <td>{{user_edit.type_doc.description}}</td>
                <td>{{user_edit.nro_doc}}</td>
                <td>{{user_edit.last_name}}</td>
                <td>{{user_edit.first_name}}</td>
                <td>{{user_edit.email}}</td>
                <td>{{user_edit.type_company.description}}</td>
                {% if user_edit.status == 1 %}
                <td class="text-center"><i class="icofont icofont-check-circled" style="color: green; color: green; font-size: 25px;"></i></td>
                {% else %}
                <td class="text-center"><i class="icofont icofont-close-circled" style="color: red; font-size: 25px;"></i></td>
                {% endif %}
                <td>{{user_edit.rol.description}}</td>
                <td>
                    <ul class="action"> 
                        <li class="edit"><a href="{% url 'user.edit' id=user_edit.id %}"><i class="icon-pencil-alt"></i></a></li>
                        <li class="delete"><a href="{% url 'user.delete' id=user_edit.id %}"><i class="icon-trash"></i></a></li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% block customJS %}
<script src="{% static '/assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#table-users').DataTable({
          "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
        }
        });
    });
</script>
{% if messages %}
{% for message in messages %}
<script>
    $(function () {
        var Toast = Swal.mixin({
            toast: true,
            position: 'top-right',
            showConfirmButton: false,
            timer: 5000
        });
        if ('{{message}}' == 'Email o username ya existe.') {
            toastr.error('{{message}}')
        } else {
            toastr.success('{{message}}')
        }
    });
</script>
{% endfor %}
{% endif %}
{% endblock customJS %}

{% endblock body %}
