{% extends '../base.html' %}

{% block body %}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Campos deportivos</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url "home" %}">Inicio</a></li>
              <li class="breadcrumb-item"><a href="{% url "appFieldSoccer.show" %}">Campos deportivos</a></li>
              <li class="breadcrumb-item">Historial</li>
            </ol>
          </div>
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            {% if request.user.rol.id != 1 %}
            <div class="card-header">
                <a class="card-title btn btn-primary" type="button" href="{% url "appFieldSoccer.show" %}">Regresar</a>
            </div>
            {% endif %}
    
            <div class="card-body">
                <table id="appFieldSoccer" class="display responsive nowrap table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            {% comment %} <th style="width: 10px">#</th> {% endcomment %}
                            <th class="text-center">Nombre campo deportivo</th>
                            <th class="text-center">Tipo de campo deportivo</th>
                            <th class="text-center">Número de jugadores</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Establecimiento</th>
                            <th class="text-center">Imagen referencial</th>
                            <th class="text-center">F. Creación</th>
                            <th class="text-center">F. Modificación</th>
                            <th class="text-center">F. Eliminación</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for historial_field_s, image_base64 in historial_field_soccers %}
                        <tr>
                            {% comment %} <td class="text-center">{{historial_field_s.id}}</td> {% endcomment %}
                            <td class="text-center">{{historial_field_s.name}}</td>
                            <td class="text-center">{{historial_field_s.type_field_soccer.description}}</td>
                            <td class="text-center">{{historial_field_s.number_players}}</td>
                            <td class="text-center">S/. {{historial_field_s.price}}</td>
                            <td class="text-center">{{historial_field_s.establishment.name}}</td>
                            <td class="text-center">
                              {% if image_base64 != None %}
                              <img class="p-1" src="data:image/png;base64,{{ image_base64 }}" width="80px" />
                              {% else %}
                              {% endif %}
                            </td>
                            <td class="text-center">{{historial_field_s.created_at|date:"Y-m-d H:i:s"}}</td>
                            <td class="text-center">{{historial_field_s.updated_at|date:"Y-m-d H:i:s"}}</td>
                            <td class="text-center">{{historial_field_s.deleted_at|date:"Y-m-d H:i:s"}}</td>
                            <td class="text-center text-center">
                                {% if historial_field_s.status %}
                                <i class="icofont icofont-check-circled" style="color: green; font-size: 20px;"></i>
                                {% else %}
                                <i class="icofont icofont-close-circled" style="color: red; font-size: 20px;"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
{% block customJS %}
{% if messages %}
{% for message in messages %}
  <script>
    $(function() {
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-right',
        showConfirmButton: false,
        timer: 5000
      });
      toastr.error('{{message}}')
    });
  </script>
{% endfor %}
{% endif %}
{% endblock customJS %}

{% endblock body %}