{% load static %}
<nav>
    <div class="main-navbar mt-4">
      <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
          <li class="back-btn">
            <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i class="icofont icofont-users" style="margin-right: 10px;"></i><span>Usuarios</span></a>
            <ul class="nav-submenu menu-content">
                <li><a href="{% url "appUser.show" %}">Bandeja</a></li>
                <li><a href="{% url "appUser.create" %}">Registrar</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i class="icofont icofont-users" style="margin-right: 10px;"></i><span>Establecimientos</span></a>
            <ul class="nav-submenu menu-content">
                <li><a href="/user/">Bandeja</a></li>
                <li><a href="/user/create/">Registrar</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i class="icofont icofont-users" style="margin-right: 10px;"></i><span>Campos deportivos</span></a>
            <ul class="nav-submenu menu-content">
                <li><a href="/user/">Bandeja</a></li>
                <li><a href="/user/create/">Registrar</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i class="icofont icofont-users" style="margin-right: 10px;"></i><span>Reservaciones</span></a>
            <ul class="nav-submenu menu-content">
                <li><a href="/user/">Bandeja</a></li>
                <li><a href="/user/create/">Registrar</a></li>
            </ul>
          </li>
          {% comment %} <li class="dropdown"><li><a class="nav-link menu-title" href="/appVideosUploaded/"><i class="icofont icofont-film" style="margin-right: 10px;"></i><span>Videos guardados</span></a></li></li> {% endcomment %}
        </ul>
      </div>
    </div>
</nav>
