{% extends 'base.html' %}
{% block body %}
<div class="page-body">
  <div class="container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-6">
          <h3>Bienvenido</h3>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
            <li class="breadcrumb-item">Bienvenido</li>
          </ol>
        </div>
        <div class="col-sm-6">
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container">
    <div class="row starter-main">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="card">
          <div class="card-header pb-0">
            <h5>¡Bienvenido {{ request.user.first_name }} {{ request.user.last_name }}!</h5>
          </div>
          <div class="card-body">
            {% if request.user.rol.id == 1 %}
            <p>Hola {{ request.user.first_name }} {{ request.user.last_name }}, bienvenido a la plataforma MiCancha, en este módulo podrás visualizar el historial de cambios que se hicieron en Establecimientos y en Campos deportivos. Asimismo podrás gestionar los usuarios registrados en la plataforma.</p>
            {% elif request.user.rol.id == 2 %}
            <p>Hola {{ request.user.first_name }} {{ request.user.last_name }}, bienvenido a la plataforma MiCancha, en este módulo podrás gestionar los Establecimientos y en Campos deportivos. Asimismo podrás visualizar las reservas de los campos deportivos.</p>
            {% else %}
            <p>Hola {{ request.user.first_name }} {{ request.user.last_name }}, bienvenido a la plataforma MiCancha, en este módulo podrás realizar las reservas de los campos deportivos teniendo en consideración el lugar, establecimiento, campo deportivo, cantidad de jugadores, fecha y hora.</p>
            <p>Esta plataforma cuenta con <b>{{ field_soccer }} campos deportivos registrados</b>, los cuales se ajustan a la preferencia de cada cliente, teniendo en consideración el tipo de campo deportivo, cantidad de jugadores, distrito de preferencia, entre otros aspectos relevantes.</p>
            <a class="btn btn-primary" href="{% url 'appReservation.create' %}">Realizar una reservación</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock body %}